속성= 크기,여백,색상 같은 눈에 보이는 스타일을 지정할 수 있습니다.

1.width (가로너비)

예제)
div{
    width: 300px;
    /* 가로너비: 너비 값; */
}

-------------------------------------------------------------


2.height (세로너비)

예제)
div{
    height: 20px;
    /* 높이: 너비 값 */
}

-------------------------------------------------------------


3.font-size (글자크기)
예제)
.box{
    font-size: 30px;
    /* 글자 크기: 크기 값 */
}

-------------------------------------------------------------


4.margin 요소의 바깥 여백
요소와 요소 사이의 여백(거리, 공간)을 생성할 때 사용합니다.

예제)
div{
    margin: 20px;
    /* 바깥 여백: 너비 값 */
}

-------------------------------------------------------------


* 세분화하기 위해 방향을 지정할 수도 있습니다.
예제)
div{
    margin-top: 20px;
    margin-left: 20px;         -----------개별속성 혹은 margin단축속성
    margin-right: 30px;
}

-------------------------------------------------------------

5.padding 요소의 내부 여백
내부 여백은 자식 요소를 감싸는 여백을 의미합니다.

예제)
div{
    padding: 20px;
    /* 요소 내부여백: 너비 값 */
}

* 세분화하기 위해 방향을 지정할 수도 있습니다.

예제)
div{
    padding-right:20px;
}

--------------------------------------------------------------

6.color 글자 색상
글자(text) 색상을 지정합니다.

예제)
div{
    color: red;
}

-------------------------------------------------------------

7. background 요소 색상
    요소의 배경 색상 지정합니다.

예제)
div{
    background-color: green;
    background-size: 300 px;
}
