header {
}
header .top {
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: bold;
    font-size: 11px;
    
}
header .bottom {
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}
header .container_left{
    width: 30%;
    float: left;
    padding-top: 3px;
}
header .container_left .youtube {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-left: 80px;
}
header .container_left .facebook {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-left: 5px;
}
header .container_left .instagram {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-left: 5px;
}

header .container_right{
    width: 200px;
    float: right;
    margin-right: 50px;
}
header .create {
    font-size: 9px;
    padding-left: 50px;
}
header .login {
    font-size: 9px;
    margin-left: 20px;
}
.clearfix::after{
    content:"";
    clear: both;
    display: block; 
}
header .below{
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}
.below .pr_logo{
    width: 110px;
    height: 50px;
    margin-left: 70px;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
}
.below .menu{
    float: right;
    padding-top: 25px;
    font-size: 11px;
    margin-right: 105px;
}
.menu li {
    display: inline;
    margin-left: 50px;
}
a {
    font-weight: bold;
    font-size: 11px;
    color: black;
    text-decoration: none;
}
.about a:hover{
    font-size: 0;
}
.about a:hover::before{
    content: "ABOUT";
    font-size: 11px;
    color: gray;
}
.pr_awards a:hover{
    font-size: 0;
}
.pr_awards a:hover::before{
    content: "PR AWARDS";
    font-size: 11px;
    color: gray;
}
.career a:hover{
    font-size: 0;
}
.career a:hover::before{
    content: "CAREER";
    font-size: 11px;
    color: gray;
}
.news a:hover{
    font-size: 0;
}
.news a:hover::before{
    content: "NEWS ROOM";
    font-size: 11px;
    color: gray;
}
.library a:hover{
    font-size: 0;
}
.library a:hover::before{
    content: "LIBRARY";
    font-size: 11px;
    color: gray;
}
.membership a:hover{
    font-size: 0;
}
.membership a:hover::before{
    content: "MEMBERSHIP";
    font-size: 11px;
    color: gray;
}