body{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header {
}
header .top {
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: bold;
    font-size: 11px;
    
}
header .top > a{
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}
header .bottom {
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}
header .container_left{
    width: 30%;
    float: left;
    padding-top: 3px;
}
header .container_left .youtube {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-left: 80px;
}
header .container_left .facebook {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-left: 5px;
}
header .container_left .instagram {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-left: 5px;
}

header .container_right{
    width: 200px;
    float: right;
    margin-right: 50px;
}
.container_right > a{
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}
header .create {
    font-size: 9px;
    padding-left: 50px;
}
header .login {
    font-size: 9px;
    margin-left: 20px;
}

header .below{
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}
.below .pr_logo{
    width: 110px;
    height: 50px;
    margin-left: 70px;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
}
.below .menu ul{
    display: inline;
    /*height: 50px;*/  
    float: right;
    /*padding-top: 25px;
    font-size: 11px;
    margin-right: 105px;
    box-sizing: border-box; */
}
.menu .about{
    /* position: relative; */
}
.menu a {
    font-weight: bold;
    font-size: 11px;
    color: inherit;
    text-decoration: inherit;
    /* margin-left: 40px; */
}
.menu li /*메뉴태그 안에 모든 li*/{
    /* margin-left: 40px;
    border: 1px solid red;
    display: none;
    position: absolute; */
}
.menu > .about > a:hover/*마우스를 협회안내에 올렸을 때*/{
    /* font-size: 0; */
}
.menu .about a:hover::before{
    /* content: "ABOUT";
    font-size: 11px;
    color: gray; */
}
.menu .about a:hover li {
    /* display: block; */
}
.pr_awards a:hover{
    font-size: 0;
}
.pr_awards a:hover::before{
    content: "PR AWARDS";
    font-size: 11px;
    color: gray;
}
.career a:hover{
    font-size: 0;
}
.career a:hover::before{
    content: "CAREER";
    font-size: 11px;
    color: gray;
}
.news a:hover{
    font-size: 0;
}
.news a:hover::before{
    content: "NEWS ROOM";
    font-size: 11px;
    color: gray;
}
.library a:hover{
    font-size: 0;
}
.library a:hover::before{
    content: "LIBRARY";
    font-size: 11px;
    color: gray;
}
.membership a:hover{
    font-size: 0;
}
.membership a:hover::before{
    content: "MEMBERSHIP";
    font-size: 11px;
    color: gray;
}
.clearfix::after{
    content:"";
    clear: both;
    display: block;
}


/*메인 아티클*/
#main_image{
    width: 1380px;
    height: 500px;
    padding-left: 70px;
    margin-top: 50px;
   
}
main{
    padding: 0px 170px 0px 170px;
}
#title{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    background-color: antiquewhite;
}
main>section>article{
    display: flex;
    justify-content: center;
    align-items: center;
}
main>section>article>div{
    display: inline-block;
    /* width: 230px;
    height: 200px;          /*얘네들은 있으나 마나 밑에 1,2,3이랑 같은 효과*/
    /*background-color: tomato; */
    margin: 30px 15px 30px 15px;
    position: relative;
}
#first{
    width: 230px;
    height: 200px;
}
#second{
    width: 230px;
    height: 200px;
}
#third{
    width: 230px;
    height: 200px; 
}
main>section>article>div>div{ /*자세히보기 absolute 는 이미지와 관계 가지기 위해*/
    top: 105%;
    left: 58%;
    position: absolute;
    border: 3px solid lightgray;
    padding: 5px;
    box-sizing: border-box;
}
article>div>div>a{
    color: inherit;
    text-decoration: inherit;
    font-weight:bold
}
#awards{
    height: 100px;
    background-color: darkcyan ;
    margin-top: 50px;
}
#awards>a{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
}
#secondtitle{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    background-color: blueviolet;
}
#mainsection{
    font-size: 0;
    height: 1100px;
}

#secsection{ /*block 요소*/
    width: 50%;
    display: inline-block;
}
#secsection div:nth-child(1){
    width: 400px;
    height: 700px;
    padding-left: 50px;
}
#secfirst{
    width: 500px;
    height: 700px;
    margin-top: 50px;
    
}
.sectionbelow{
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 70px;
    padding-right: 42px;
    padding-bottom: 100px;
    box-sizing: border-box; 
}
#secsecond{
    width: 200px;
    height: 150px;
    margin-top: 30px;
    display: inline-block;
}
#secthird{
    width: 200px;
    height: 150px;
    margin-top: 30px;
    display: inline-block;
}
#secarticle{
    width: 50%;
    display: inline-block;
    float: right;
    margin-top: 50px;
    
}
#secfourth{
    width: 100%;
    height: 100px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
#secnews{
    width: 100%;
    height: 100px;
    background-color: brown;
    margin-top: 50px;
    position: relative;
}
#secnews>.secondnews{
    width: 150px;
    display: inline-block;
    background-color: yellow;
    box-sizing: border-box;
    top: 40%;
    left:0%;
    position: absolute;
    
}
#secnews>.secondnews>a{  
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
    font-weight: bolder;
    font-size: 20px;
}
#secnews>.extra{
    width: 100px;
    display: inline-block;
    background-color: yellow;
    box-sizing: border-box;
    top: 40%;
    right:0%;
    position: absolute;
}
#secnews>.extra>a{  
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 30px;
}
#secarticle article{
    background-color: beige;
}
#secarticle>article>div{
    
    border: 3px solid tomato;
    display: flex;
}
#secarticle>article>div>img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
} 
#secarticle>article>div>div{
    background-color: aliceblue;
    padding-top: 10px;
    box-sizing: border-box;
}
#secrecruit{
    width: 100%;
    height: 70px;
    background-color: coral;
    margin-top: 50px;
    position: relative;
}
#secrecruit .recruit{
    width: 250px;
    display: inline-block;
    background-color: yellow;
    box-sizing: border-box;
    top: 35%;
    left:0%;
    position: absolute;
}
#secrecruit .recruit>a{
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
    font-weight: bolder;
    font-size: 20px;
}
#secrecruit .secextra{
    width: 100px;
    display: inline-block;
    background-color: yellow;
    box-sizing: border-box;
    top: 35%;
    right:0%;
    position: absolute;
}
#secrecruit a{
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
    font-weight: bolder;
    font-size: 20px;
}
.recruitp>p{
    padding-top: 10px;
}
.recruitp>p>a{
    color: inherit;
    text-decoration: inherit;
    font-size: 16px;
    padding-top: 10px;
}
.navfooter{
    height: 70px;
    background-color: aliceblue;
}
.navfooter>a{
    padding-top: 27px;
    display: inline-block;
    padding-left: 40%;
    color: inherit;
    text-decoration: inherit;
    font-weight: bolder;
    font-size: 20px;
    box-sizing: border-box;
}
.footertop{
    margin-top: 80px;
    background-color: beige;
}
.footertop h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.footertop h2{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    box-sizing: border-box;
}
.footerbottom{
    background-color: gray;
    padding: 0px 350px 0px 350px;
}
.footernav{
    border-bottom: 1px solid white;
    height: 70px;
    position: relative;

}
.footernav span .ftmembership{
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    top: 35%;
    left:10%;
    position: absolute;
    background-color: aqua;
}
.footernav span .money{
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    top: 35%;
    left:30%;
    position: absolute;
    background-color: aqua;
}
.footernav span .more{
    width: 50px;
    display: inline-block;
    background-color: yellow;
    box-sizing: border-box;
    top: 35%;
    right:10%;
    position: absolute;
}
.footerbelow{
   height: 350px;
}
.footerbelow>div{
    display: inline-block;
   
}
.ftlogo{
    width: 110px;
    height: 100px;
    display: block;
    padding-bottom: 50px ;
    margin-right: 50px;
}
.ftmiddle{
    width: 500px;
    display: inline-block;
    margin-right: 30px;
    padding-top: 50px;
}
.ftmiddle a{
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}
.ftmiddle address{
    padding-top: 20px;
}
.footerbottom .ftright {
    display: inline-block;
    width: 70px;
    margin-left: 50px;
    box-sizing: border-box;
    
}
.footerbottom .ftright .ftlogolast{
    width: 15px;
    height: 15px;
    border-radius: 5px;
    
}