.menu1{
    background-color: lightblue;
    display: block;
    
}
.menu{
    display: inline-block;
    position: relative;
    background-color: beige;
    width: 100px;
    height: 50px;
}
.menu>a{
    display: inline-block;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
}
.menu:hover .submenu li{
    visibility: visible;
    display: block;
}
.menu a:hover{
   font-size: 0;
}
.menu a:hover::before{
    content: "about";
    color: gray;
    font-size: 11px;
}
.submenu{
    
}
.submenu li{

    list-style: none;
    visibility: hidden;
    position: absolute;
}
.submenu li a{

    color: inherit;
    text-decoration: inherit;
}