body{
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid blueviolet;
}
.header{
    
}
.container{
    background-color: white;
    width: 980px;
    margin: auto;
}
main{
    display: flex;
}
.container-left{
    padding: 20px 0px;
    background-color: aqua;
    width: 50%;
}
.logo{
    float: left;
}
.logo img{
  margin-right: 5px;
  display: block;  
}
.menu{
    
}
.menu-item{
    float:left;
    padding: 6px 10px;
}
.container-right{
    width: 50%;
    background-color: green;
    float:left;
    padding: 20px 0px;
}
.item{
    font-size: 12px;
    float: left;
    padding: 6px 10px;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}